.event-list {
  margin: 20px;
  padding: 10px;
}

.event-list h2 {
  text-align: center;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
  
}

.event-list li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 420 px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: black;
  border-radius: 10px;
}

.event-list h3 {
  margin: 0 0 10px 0;
}

.event-list p {
  margin: 0 0 10px 0;
}

.event-list button {
  background-color: rgb(8, 108, 63);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.event-list button:hover {
  background-color: rgb(6, 81, 47);
}
