.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.event-confirm {
    text-align: center;
    margin-top: 20px;
  }
  
  .event-confirm p {
    margin: 15px 0;
    font-size: 18px;
  }
  
  .event-confirm button {
    margin: 10px;
  }

  .event-confirm-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; */

    width: auto;
    max-width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black ;
    border-radius: 10px;
    padding: 30px 40px;
  }

  .event-confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* Other styles... */
  }
  
  .event-confirm-text, .event-confirm-form {
    width: 100%;
  }
  
  .event-confirm-text p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Dark text for contrast */
  }
  
  .event-confirm-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
  }
  
  .event-confirm-form input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    font-size: 16px;
    color: white;
    background-color: #044014; /* Example button color */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0F5319; /* Darker shade for hover effect */
  }

  .display-head {
    font-family: 'Roboto Slab', sans-serif; /* Specify the font family */
    font-size: 3rem; /* 3rem font size */
    line-height: 5rem; /* 3.25rem line height */
    font-weight: 300; /* Font weight 300 */
    letter-spacing: -1px; /* -1px tracking (letter spacing) */
    text-align: center;
  }

  .display-head h2 {
    margin: 0 20px 20px 20px; /* 0 top, 20px right, 20px bottom, 20px left */
    padding: 10px;
  }