/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/images/background.jpg');
    background-size: cover; /* This ensures that your background covers the entire screen */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /* This centers the image */
  }